---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: workerspv
spec:
  capacity:
    storage: 5Gi
  local:
    path: /tmp
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  volumeMode: Filesystem
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - local-node
                - lima-rancher-desktop
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: redispv
spec:
  capacity:
    storage: 1Gi
  local:
    path: /tmp
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  volumeMode: Filesystem
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - local-node
                - lima-rancher-desktop
